body 
block content 
#map 
script(src="/javascripts/gmap.js") 
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHCAZ59-XRJXCmaKGGeLhGZ_AaQXU5J54&callback=initMap")

script(src="https://code.jquery.com/jquery-3.6.3.min.js")
link(rel="stylesheet", href="/stylesheets/gmap.css")



